/*For screens greater than 1068px in width*/

@media screen {
	* {
		box-sizing: border-box;
	}
	body {
		font: 14px/1.4 geneva, sans-serif; color: #0b1938;
		background: rgba(79, 140, 239, .5) url("../images/bosporous-optimized.jpg") 0 -60px no-repeat;
		background-size: contain;
	}
	.jump-nav {
		position: absolute;
		top: 0;
		left: -1000px;
		background-color: white;
		color: darkblue;
	}
	.landmark {
		border-radius: 10px;
		margin-top: 0;
	}
	.onpage {
		background-color: lightyellow;
		padding: 20px;
		height: auto;
	}
	.sticky {
		position: -webkit-sticky; /* Safari  */
		position: sticky;
		display: block;
		width: 5em;
		text-align: center;
		line-height: 3em;
		top: 400px;
		background-color: whitesmoke;
		border: 2px solid blue;
		margin: 250px auto 0;
	}
	.tile-container{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	.tile {
		width: 300px;
		margin: 10px;
	}
	a:hover {
		color: gray;
		text-decoration: underline;
	}
	a:visited {
		color: #362819;
	}
	aside{
		grid-column-start: 3;
		grid-row-start: 2;
		grid-row-end: 12;
	}
	figcaption {
		font-style: italic;
		margin-bottom: 10px 0 30px;
	}
	footer{
		height: 10em;
	}
	footer a:visited {
		color: blue;
	}
	footer ul {
		padding: 20px 50px;
		list-style: none;
	}
	h1{
		font: 500 36px 'Roboto', sans-serif;
		text-align: left;
	}
	h1 span{
		font-size: 18px;
		font-style: italic;
		display: block;
		margin: 20px 0 30px;
	}
	h2 {
		font: 24px 'Roboto', sans-serif;
		text-align: left;
		padding-bottom: 20px;
	}
	h3{
		font: 16px 'Roboto', sans-serif;
		margin: 1em 0 0;
	}
	h4{
		font: 12px 'Roboto', sans-serif;
		margin: 1em 10px 0;
	}
	header {
		width: 100%;
	}
	i {
		color: blue;
		font-size: 24px;
		margin-right: 10px;
	}
	i:hover {
		color: gray;
	}
	img{
		max-width: 100%;
		height: auto;
		margin-top: 10px;
	}

	li span{
		font-style: italic;
		font-size: 10px;
		display: block;
		margin: 2px 0 0 10px;
	}
	main{
		background-color: rgba(255, 255, 255, .5);
		display: grid;
		grid-template-columns: 30px 2fr 1fr 30px;
		grid-template-rows: 30px auto auto auto auto auto auto;
		grid-row-gap: 20px;
		grid-column-gap: 20px;
	}
	nav, footer{
		background-color: rgb(255, 255, 255);
		margin: 10px 0;

	}
	nav a {
		text-decoration: none;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
	}
	nav li{
	display: inline-block;
	width: 10em;
	line-height: 2em;
	text-align: center;
	font-size: 1em;
	}
	nav ul {
		margin-left: 50px;
	}

	p {
		max-width: 900px;
		/* margin-bottom: 20px; */
	}
	section {
		background-color: rgb(255, 255, 255);
		grid-column-start: 2;
		grid-column-end: 3;
		padding: 30px;
		border-radius: 10px;
		height: auto;
	}
	section.intro {
		grid-row-start: 2;
	}
	section.two {
		grid-row-start: 3;
	}
	section.three {
		grid-row-start: 4;
	}
	section.four {
		grid-row-start: 5;
	}
	section.five {
		grid-row-start: 6;
	}
	ul{
		list-style-type: none;
		margin-top: 5px;
	}
	li > ul{
		margin: 2px 30px 5px;
		list-style-type: disc;
	}
} /* end @ all media */

/* iPad portrait view: Landmark image disappears and aside narrows*/
	@media screen and (max-width: 1068px) {

		.landmark {
			display: none;
		}
		main {
			grid-template-columns: 5em 2fr 5em 0;
		}
		nav {
			margin: 0 auto;
		}
		.sticky {
			margin-top: 500px;
		}
	}
/* phone view: navigation converts to blocks across top of screen and no background image*/
@media screen and (max-width: 769px){
	aside {
		display: none;
	}
	body {
		background: rgba(79, 140, 239, .5);
	}
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.5em;
		text-align: left;
		margin: 0;
		padding-left: 0;
	}
	main {
		display: block;
		width: 90%;
		margin: 30px auto;
	}
	nav {
		height: auto;
	}
	nav ul {
		padding-top: 20px; 
		margin: 0;
	}
	nav li {
		display: block;
		width: auto;
		height: 36px; 
		text-align: center; 
		padding: 0;
	}
	section {
		border-radius: 0;
	}
}/* end phone view*/

/* print */
@media print {
	body {
		font-family: serif;
		color: #000;
		background-color: #FFF;
	}
	nav, aside, img, figure, footer, .jump-nav {
		display: none;
	}
	h1 {
		font-size: 2em;
		margin-bottom: 20px;
	}
	h2 {
		margin: 20px 0 10px;
	}
/* end media print */}