/* phone view: navigation converts to blocks across top of screen and no background image*/
@media screen {
	* {
		box-sizing: border-box;
	}
	body {
		font: 14px/1.4 geneva, sans-serif; color: #0b1938;
		background-color: rgba(79, 140, 239, .5);
	}
	.gallery{
		width: 98%;
		margin:0 auto;
		background-color: black;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 10px;
		grid-row-gap: 10px;
	}
	.gallery img{
		width: 100%;
	}
	.jump-nav {
		position: absolute;
		top: 0;
		left: -1000px;
		width: 1px;
		height: 1px;
		overflow: hidden;
		background-color: white;
		color: darkblue;
	}
	.jump-nav:focus, .jump-nav:active {
		left: auto;
		top: auto;
		height: auto;
		width: auto;
		overflow: auto;
		margin: 10px;
		padding: 10px;
		border: 3px solid darkblue;
		border-radius: 3px;
		text-align: center;
	}
	.landmark, .sticky {
		display: none;
	}
	.onpage {
		background-color: #FFD872;
		padding: 20px;
		height: auto;
	}
	.tile {
		width: 100%;
		margin: 10px;
	}
	.tile-container{
		display: block;
	}
	a:hover {
		color: gray;
		text-decoration: underline;
	}
	a:visited {
		color: #362819;
	}
	aside {
		display: none;
	}
	figcaption {
		font-style: italic;
		margin-bottom: 10px 0 30px;
	}
	footer{
		height: 10em;
	}
	footer a:visited {
		color: blue;
	}
	footer ul {
		padding: 20px 50px;
		list-style: none;
	}
	h1 {
		font: 500 2em 'Roboto', sans-serif;
	}
	h1 span{
		font-size: 12px;
		font-style: italic;
		display: block;
		margin: 20px 0 30px;
	}
	h2 {
		font-size: 1.5em;
		text-align: left;
		margin: 0;
		padding-left: 0;
	}
	h3{
		font: 16px 'Roboto', sans-serif;
		margin: 1em 0 0;
	}
	h4{
		font: 12px 'Roboto', sans-serif;
		margin: 1em 10px 0;
	}
	header {
		width: 100%;
	}
	i {
		color: blue;
		font-size: 24px;
		margin-right: 10px;
	}
	i:hover {
		color: gray;
	}
	img{
		width: 100%;
		height: auto;
		margin-top: 10px;
	}
	li span{
		font-style: italic;
		font-size: 10px;
		display: block;
		margin: 2px 0 0 10px;
	}
	main {
		background-color: rgba(255, 255, 255, .5);
		display: block;
		width: 90%;
		margin: 30px auto;
	}
	nav, footer{
		background-color: rgb(255, 255, 255);
		margin: 10px 0;
	}
	nav {
		height: auto;
	}
	nav a {
		text-decoration: none;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
	}
	nav li {
		display: block;
		width: auto;
		height: 36px; 
		text-align: center; 
		padding: 0;
	}
	nav ul {
		padding-top: 20px; 
		margin: 0;
	}
	section {
		background-color: rgb(255, 255, 255);
		padding: 30px;
		height: auto;
	}
	ul{
		list-style-type: none;
		margin-top: 5px;
	}
	li > ul{
		margin: 2px 30px 5px;
		list-style-type: disc;
	}
}/* end phone view*/

/* iPad portrait view: Switch navigation layout; display main content as grid; add 'to top' link*/
@media screen and (min-width: 500px) {
	.sticky {
		position: -webkit-sticky; /* Safari  */
		position: sticky;
		display: block;
		width: 5em;
		text-align: center;
		line-height: 3em;
		top: 400px;
		background-color: whitesmoke;
		border: 2px solid blue;
		margin: 250px auto 0;
	}
	aside{
		display: block;
		grid-column-start: 3;
		grid-row-start: 2;
		grid-row-end: 12;
	}

	h2 {
		padding-bottom: 20px;
	}
	main {
		display: grid;
		grid-template-columns: 5em 2fr 5em 0;
		grid-template-rows: 30px auto auto auto auto auto auto;
		grid-row-gap: 20px;
		grid-column-gap: 20px;
	}
	nav {
		margin: 0 auto;
	}
	nav li{
		display: inline-block;
		width: 10em;
		line-height: 2em;
		text-align: center;
		font-size: 1em;
	}
	nav ul {
		margin-left: 50px;
	}
	section {
		grid-column-start: 2;
		grid-column-end: 3;
		padding: 30px;
		border-radius: 10px;
	}
	section.intro {
		grid-row-start: 2;
	}
	section.two {
		grid-row-start: 3;
	}
	section.three {
		grid-row-start: 4;
	}
	section.four {
		grid-row-start: 5;
	}
	section.five {
		grid-row-start: 6;
	}
}/* end iPad */

/*For screens greater than 1400px in width. Aside column widens to display landmark photo. Background image appears.*/

@media screen and (min-width: 1450px){
	.landmark {
		display: block;
		border-radius: 10px;
		margin-top: 0;
	}
	.tile{
		width: 250px;
	}
	.tile-container{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	body {
		background: rgba(79, 140, 239, .5) url("../images/bosporous-optimized.jpg") 0 -60px no-repeat;
		background-size: contain;
	}
	main{
		grid-template-columns: 30px 2fr 300px 30px;
	}
	p {
		max-width: 80em;
	}
} /* end large display */

/* print */
@media print {
	.tile {
		width: 300px;
	}
	body {
		font-family: serif;
		color: #000;
		background-color: #FFF;
	}
	nav, aside, img, figure, footer, .jump-nav {
		display: none;
	}
	h1 {
		font-size: 2em;
		margin-bottom: 20px;
	}
	h2 {
		margin: 20px 0 10px;
	}
/* end media print */}