/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End Eric Meyer code */
* {
    box-sizing: border-box;
}
body {
	position: relative;
	font: 14px/1.4 geneva, sans-serif; color: #0b1938;
	background: rgba(79, 140, 239, .5) url("../images/bosporous-optimized.jpg") 0 -60px no-repeat;
	background-size: contain;
	margin: 30px;
	/* width: 100%; */

}
.landmark {
	grid-column-start: 3;
	grid-row-start: 2;
	border-radius: 10px;
}
.tile-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.tile {
	width: 300px;
	margin: 10px;
}
a:hover {
	color: gray;
}
a:visited {
	color: #362819;
}
figcaption {
	font-style: italic;
	margin-bottom: 30px;
}
footer{
	height: 10em;
}
footer a:visited {
	color: blue;
}
h1{
	font: 500 42px 'Roboto', sans-serif;
	text-align: left;
}
h1 span{
	font-size: 18px;
	font-style: italic;
	display: block;
	margin: 20px 0 30px;
}
h2 {
	font: 30px 'Roboto', sans-serif;
	text-align: center;
	padding: 20px;
}
h3{
	font: 16px 'Roboto', sans-serif;
	margin: 1em 0 0;
}
h4{
	font: 12px 'Roboto', sans-serif;
	margin: 1em 10px 0;
}
header {
	display: grid;
	grid-template-columns: 2fr 1fr;
}
i {
	color: blue;
	font-size: 24px;
	margin-right: 10px;
}
i:hover {
	color: gray;
}
img{
	max-width: 100%;
	height: auto;
}
li {
	font-size: 12px;
	margin: 2px 10px;
}
li span{
	font-style: italic;
	font-size: 10px;
	display: block;
	margin: 2px 0 0 10px;
}
main{
	border: 2px solid #0f2046;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, .5);
	display: grid;
	grid-template-columns: 30px 2fr 1fr 30px;
	grid-template-rows: 30px auto auto auto auto auto auto;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
}
nav, footer{
	background-color: rgb(255, 255, 255);
	margin: 10px -30px;
	padding: 20px;
	/* width: 100%; */
	grid-column-start: 1;
	grid-column-end: 3;
}
nav li{
	display: inline-block;
	width: 8em;
	text-align: center;
	font-size: 16px;
	border-radius: 5px;
}
nav li.onpage {
	background-color: lightyellow;
	border: 2px solid #0f2046;
	padding: 20px;
}
nav a {
	text-decoration: none;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
p {
	max-width: 900px;
	margin-bottom: 20px;
}
section {
	background-color: rgb(255, 255, 255);
	grid-column-start: 2;
	grid-column-end: 3;
	padding: 30px;
	border-radius: 10px;
}
section.intro {
	grid-row-start: 2;
}
section.two {
	grid-row-start: 3;
}
section.three {
	grid-row-start: 4;
}
section.four {
	grid-row-start: 5;
}
section.five {
	grid-row-start: 6;
}
ul{
	margin-top: 5px;
}
li > ul{
	margin: 2px 30px 5px;
	list-style-type: disc;
}